/* src/components/common/ImageSlider.css */

.slider-container {
  width: 100%;
  aspect-ratio: 16 / 5.5; 
  position: relative;
  overflow: hidden;
  /* Sử dụng biến cho màu nền, sẽ đổi màu theo theme */
  background-color: var(--background-color); 
  transition: background-color 0.2s; /* Thêm hiệu ứng chuyển đổi */
}

.slider-slide {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

/* --- Responsive cho máy tính bảng (< 992px) --- */
@media (max-width: 992px) {
  .slider-container {
    aspect-ratio: 16 / 7;
  }
}

/* --- Responsive cho điện thoại (< 768px) --- */
@media (max-width: 768px) {
  .slider-container {
    aspect-ratio: 16 / 9;
    margin: 0; 
    border-radius: 0; 
  }
}